.header {
    background-color: darkgray;
    height: 40px;
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin: 0 auto;

}

.header ul li {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    color: indigo;
}
