.globalBox{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #333333;
  color: wheat;
  margin: 100px;
  padding: 100px;
}
.rend{
  border: 2px solid wheat;
  margin-top: 20px;
  border-radius: 5px;
}